body {
    background-color: #1A202C;
}

h1 {
    text-align: center;
    color: #EDF2F7;
}

#navbar li a{
    color: #EDF2F7;
    text-decoration: none;
    
}

#navbar li a:hover {
    color: #4299E1;
}
