body {
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #EDF2F7;
}

#navbar li a{
    color: #EDF2F7;
    text-decoration: none;
    
}

#navbar li a:hover {
    color: #4299E1;
}
.myBox {
    border: 1px solid;
    margin: 20%;
    box-sizing: border-box;
    padding:10%;
    background-color: grey;
}
input{
    margin-right: 10%;
}
.signinRow{
    margin-right: 5%;
}